.container
{

	width: 80%;
	margin: auto;
}
.container h1
{
position: absolute;	
top: 420px;
left: 300px;	
}
.box-1
{
	background-color: #333333;
	color: #ffffff;
	padding: 10px;
	border-left: 10px red solid;
	
}

.button
{
color: #ffffff;
}

.branches
{
border: 5px solid #ccc;
padding: 10px;
border-rediusmargin:15px ;


}
.block
{
float: right ;
color: #Red;
width: 20.3%;
border: 4px solid #ccc;	
padding:10px ;
box-sizing: border-box;
}

.clr
{
clear: both;	
}
.p-box
{


width:800px;
height:500px;
border: 4px solid #000;
margin-top: 30px;
position: relative;
}
.p-box  h1
{
position: absolute;	
top: 420px;
left: 300px;
}

.p-box  h2
{
position: absolute;	
bottom: 0px;
left: 0px;
}
